.navbar-brand {
    float: right;
    margin: 0% 10px;
}

.nav-link {
    float: right;
    margin: 0% 10px;
}

.py-4 {
    text-align: center;
    padding-top: 50px;
}

.card-body {
    border: solid;
    border-radius: 80px;
    border-width: thin;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.mb-3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.mb-0 {
    margin-top: 60px;
    margin-bottom: 50px;
}